$themes: ( light: ( background_color: #888, //背景色
text-color: #616554, // 主文本色
one-color: #cecbcb, semode-color: #fff, replyto-color: #cecbcb, ), dark: ( background_color: #fff, //背景
text-color: #cecbcb, // 主文本色
one-color: #111, semode-color: #000, replyto-color: #999, ), );